@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

*{
    font-family: 'EB Garamond', serif; 
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;
    border:none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

section{
    padding:0 7%;
    padding-top: 25rem;
}


header{
    position:relative;
    top:0; left:0;
    z-index: 1000;
    width: 100%;
}

header .heading{
    font-size: 5rem;
    color:rgb(105, 101, 101);
    padding: 1rem;
    text-align: center;
    cursor: auto;
    letter-spacing: .5rem;

}

header .date{
    font-size: 2rem;
    color:rgb(105, 101, 101);
    padding-top: 1rem;
    padding-bottom: 5rem;
    text-align: center;
    cursor:auto;
    letter-spacing: .25rem;
}

header #circle{
    font-size: .5rem;
    color:rgb(105, 101, 101);
    padding: .5rem;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 1rem;
    cursor: default;
    flex-wrap:wrap;
}

header .navbar ul li{
    margin:0 1.5rem;
    justify-content:space-between;
}

header .navbar ul li a{
    font-size: 1.75rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;

}

header .navbar ul li a:hover{
    border-bottom: 2px solid rgb(105, 101, 101);
    
}

#count-body{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    color:rgb(105, 101, 101);
}

#count-body h1{
    font-size: 2rem;
    padding-right: 4rem;
    letter-spacing: .25rem;
}

#count-body p{
    font-size: 2rem;
}

.story{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.story .content{
    flex: 1 1 40rem
}

.story .content h1{
    font-size: 2rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
    margin-bottom: 2rem;
}

.story .content p{
    font-size: 1.8rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
}

.hero {
    height: 800px;
    background-position: no-repeat;
    background-size: cover;
    position:relative;
    background-image: url("/assets/images/homephoto.png");

}

.active {
    border-bottom: 2px solid black;
}

.placetime{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.placetime .content{
    flex: 1 1 40rem
}

.placetime h1{
    font-size: 4rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
    margin-bottom: 2rem;
}

.btn_wrapper {
    display: block;
    text-align: center;
}

button {
    background-color: rgb(105, 101, 101);
    color:white;
    padding:10px;
    margin: 24px;
    font-size: 20px;
    letter-spacing: .5rem;
    border-radius: 5px;
    text-align: center;
}

.details1{
    padding-top: 2rem;
    display:inline-flex;
    align-items: center;
    justify-content: space-around;
    float:left;
}

.details2{
    padding-top: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    float:right;
}

.details1 .content1{
    flex: 1 1 40rem;
}

.details1 .content1 h1{
    font-size: 3rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
    margin-bottom: .25rem;
}

.details1 .content1 h3{
    font-size: 2rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
    
}

.details1 .content1 p{
    font-size: 2rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
}

.details2 .content2{
    flex: 1 1 40rem
}

.details2 .content2 h1{
    font-size: 3rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
    margin-bottom: .25rem;
}

.details2 .content2 h3{
    font-size: 2rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
    
}

.details2 .content2 p{
    font-size: 2rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
}

.travel{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.travel .content{
    flex: 1 1 40rem
}

.travel .content h1{
    font-size: 3rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
    margin-bottom: 2rem;
}

.travel .content h2{
    font-size: 2rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
}

.travel .content h3{
    font-size: 2rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
    margin-bottom: 2rem;
}

.travel .content p{
    font-size: 1.8rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
}

.shuttle{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.shuttle .content{
    flex: 1 1 40rem
}

.shuttle .content h1{
    font-size: 2rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
    margin-bottom: 2rem;
}

.shuttle .content p{
    font-size: 1.8rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
}

.todo{
    padding-top: 2rem;
    display:block;
    align-items: center;
    justify-content: space-around;
}

.todo .content{
    flex: 1 1 40rem;
}

.todo .content h1{
    font-size: 3rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
    margin-bottom: 2rem;
}

.todo .content h2{
    font-size: 2rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
}

.todo .content h3{
    font-size: 2rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
    margin-bottom: 2rem;
}

.todo .content p{
    font-size: 1.8rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
}

.party {
    align-items: center;
}


.party .content p{
    font-size: 1.8rem;
    color:rgb(105, 101, 101);
    letter-spacing: .25rem;
}

/* media queries */

@media (max-width:500px){
    html{
        font-size: 50%;
    }

    header{
        display: felx;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    header #circle{
        display:block;

    }

    header .navbar{
        position: fixed;
        top:6 .2rem; right:0;
        height: 100%;
        width: 100%;
    }

    header .navbar ul{
        height:100%;
        width:100%;
        flex-flow: column;
        padding-bottom: 15rem;
    }

    header .navbar ul li{
        text-align: center;
        width:100%;
        margin:1rem 0;
    }

    header .navbar ul li a{
        font-size: 2rem;
        display: block;
    }

}
.formContainer {
    /* border:solid black;
    border-width: 1px; */
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
   }
   
   .todayCard {
       border: solid black;
       border-width: 1px;
       display: inline-block;
       margin-top: 10px;
   }
   
   #city {
       font-size:30px;
   }
   
   #time {
       font-size: 25px;
   }
   
   .card {
       display:inline-block;
   }
   
   .five-day {
       align-items: right;
   }
   
   .background-red {
       color: red;
   }
   
   .background-green {
       color: green;
   }
   
   .background-yellow {
       color: yellow;
   }